deemix
fairseq
faiss-cpu
ffmpeg-python
gradio
lib
librosa
numpy
onnxruntime_gpu
praat-parselmouth
pedalboard
pydub
pyworld
Requests
scipy
soundfile
torch
torchcrepe
tqdm
yt_dlp
sox
audio-separator[gpu]
